name: ScaleOps CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      IMAGE_URI: ${{ secrets.ECR_REPOSITORY_URI }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker Image
        run: |
          docker build -t scaleops-app ./app

      - name: Trivy Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: scaleops-app
          severity: CRITICAL,HIGH
          exit-code: 0

      - name: Tag & Push to ECR
        run: |
          docker tag scaleops-app:latest $IMAGE_URI:latest
          docker push $IMAGE_URI:latest
